main {
  overflow: auto;
  background-color: #ffffff1a;
  grid-column: 2/3;
  height: 100%;
  max-height: 100vh;
}

.toy-index {
  display: grid;
}
.headline {
  grid-column: 1/-1;
  padding: 0 0 1% 0;
  text-align: center;
  @include flex-center;
  width: fit-content;
  cursor: default;
  height: 100%;
  width: 100%;
  margin: auto;
}

.toy-list {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.toy-preview {
  @include grid-center;
  position: relative;
  border-radius: $frame-radius-000;
  box-shadow: $shadow-006;
  height: 350px;
  transition: scale 0.1s;
  grid-template-rows: 3fr 6fr;

  .toy-btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in, 0.3s ease-in transform;
    transform: translateY(100%);
  }
  .toy-btns.show {
    opacity: 1;
    transform: translateY(0);
  }

  h2 {
    font-size: 1em;
    span {
      color: $success-clr;
    }
  }
  .toy-content {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1em;
    margin: auto;
    text-align: center;
    word-break: break-word;
    height: 40px;
  }
  div {
    align-items: center;
  }
  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

// LOADER
.loader-container {
  .container {
    width: 500px;
    background-color: #000;
  }
}

.header-container {
  align-items: center;
  position: relative;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  background: $bgc-003;
}

.range-container {
  justify-content: center;

  label {
    position: absolute;
    font-size: 0.7em;
    color: $bgc-002;
  }
}

input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  background: $bgc-003;
  height: 20px;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
  justify-self: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background: $bgc-002;
  width: 20px;
  height: 20px;
}

.filter-input {
  height: 35px;
  grid-row: 2;
  grid-column: 3;
  font-size: 1.3rem;
  border-radius: 15px 15px 0 0;
  justify-self: center;
}
input[type="range"],
.filter-input {
  width: 80%;
  font-size: 1.3rem;
  height: 100%;
}

.add-link,
.filter-btns-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 0px 0px;
  width: fit-content;
  padding: 0px 20px;
  height: 100%;
  width: 90%;
  font-size: 1.2rem;
  color: $font-clr-000;
  background-color: $bgc-003;
  cursor: pointer;
  &:hover {
    background-color: $bgc-002;
  }
  text-align: center;
  justify-self: center;
}

.filter-btns-container {
  button {
    border: none;
    border-radius: 10px 0 0 0;
  }
}
.add-link {
  border-radius: 0 10px 0 0;
}

@media (max-width: $mobile-mq) {
  .header-container {
    padding: 0;
    width: 100%;
  }
  input[type="range"],
  .filter-input,
  .add-link,
  .filter-btns-container button {
    border-radius: 0px;
    font-size: 1rem;
    width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .toy-list {
    gap: 20px;
    padding: 15px;
  }
}
