header {
  grid-row: 1;
  grid-column: 2;
  background: $bgc-000;
  box-shadow: $shadow-000;
  ul.navbar {
    height: 100%;
    @include flex-center-evenly;
    font-weight: 700;
    li {
      transition: background-color 0.1s ease-in-out;
      padding: 20px;
      min-width: fit-content;
      &:hover {
        background-color: $bgc-003;
      }
      cursor: pointer;
    }
  }
  svg {
    color: lightskyblue;
  }
}

@media (max-width: $mobile-mq) {
  header {
    ul.navbar {
      height: 100%;
      @include flex-center-evenly;
      font-weight: 700;
      font-size: 1.2rem;
      .nav-item {
        height: 100%;
      }
      li {
        height: 100%;
        transition: background-color 0.1s ease-in-out;
        min-width: fit-content;
        &:hover {
          background-color: $bgc-003;
        }
        cursor: pointer;
      }
    }
  }
}
