header {
   grid-row: 1;
   grid-column: 2;
   background: linear-gradient(
      to right,
      transparent,
      rgba(135, 206, 250, 0.492)
   );
   box-shadow: $shadow-000;
   ul.navbar {
      height: 100%;
      @include flex-center-evenly;
      font-weight: 700;
      li {
         transition: background-color 0.1s ease-in-out, scale 0.1s ease-in-out;
         padding: 20px;
         min-width: fit-content;
         &:hover {
            background-color: $bgc-003;
            scale: 1.1;
         }
         cursor: pointer;
      }
   }
   svg {
      color: lightskyblue;
   }
}
