footer {
  background: $bgc-000;
  position: relative;

  p {
    text-shadow: 1px 1px black;
    position: absolute;
    font-size: 0.6em;
    left: 0;
    bottom: 0;
  }
  font-size: 0.7em;
  display: flex;
  box-shadow: $shadow-000;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
