footer {
   grid-column: 2;
   background: $bgc-000;
   p {
      text-shadow: 1px 1px black;
   }
   font-size: 0.7em;
   display: flex;
   box-shadow: $shadow-000;
   align-items: center;
   justify-content: center;
   gap: 50px;
   .add-link {
      outline: 1px solid white;
      transition: scale 0.1s ease-in-out;
      border-radius: 50%;
      font-size: 2rem;
      padding: 0px 15px;
      padding-block-end: 5px;
      &:hover {
         scale: 1.05;
      }
   }
   .filter-input {
   }
}
