.main-btn {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  align-items: center;
  font-size: 1em;
  justify-content: center;
  color: white;
  border: none;
  font-family: $main-font;
  font-weight: 500;
  background: $bgc-0000;
  padding: 10px 0px;
  &.delete-btn:hover {
    color: $error-clr;
  }
  &:hover {
    cursor: pointer;
    background-color: $bgc-002;
  }
  &.edit-btn:hover {
    color: $success-clr;
  }
}
