* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: white;
  font-size: 2rem;
  font-family: monospace;
}

main {
  padding: 30px 50px;
  border: 1px solid black;
  background-color: #ffffff3e;
}
