.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: col;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.p-inline-10 {
  padding-inline: 10px;
}
.p-inline-20 {
  padding-inline: 20px;
}
.p-inline-30 {
  padding-inline: 30px;
}
