// colors
$bgc-000: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
$bgc-0000: linear-gradient(lightskyblue 0%, #0095f188 100%);
$dark-bgc-00: linear-gradient(
  to right,
  transparent,
  rgba(135, 206, 250, 0.492)
);
// $dark-bgc-000: linear-gradient(90deg, #0b0b0b 0%, #494949 100%);
// $bgc-0000: linear-gradient(rgb(0, 0, 0) 0%, #09090988 100%);
$bgc-001: #fff;
$bgc-002: #ffffff78;
$bgc-003: #ffffff21;

$font-clr-000: #fff;
$font-clr-001: #333;
$font-clr-002: #101010;
$font-clr-003: #000;
$success-clr: lightgreen;
$error-clr: lightcoral;

// shadows
$shadow-000: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-001: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow-002: rgba(9, 30, 66, 0.25) 0px 1px 1px,
  rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
$shadow-003: rgba(9, 30, 66, 0.25) 0px 5px 5px,
  rgba(9, 30, 66, 0.13) 0px 0px 5px 5px;
$shadow-004: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
$shadow-005: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
$shadow-006: $bgc-002 0px 0px 10px -2px inset, $bgc-001 0px 0px 50px -18px inset;
// outlines

$frame-radius-000: 15px;

// media queries
$tablet-mq: 1100px;
$mobile-mq: 768px;
